body {
    background: rgba(0, 0, 0, 0.453) url(https://images.unsplash.com/photo-1524690183982-eff332751cec?q=80&w=1530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 10%;
    background-position-y: 43.7%;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.email {
    position: relative;
    margin-bottom: 1.5em;
}

.otp {
    width: 420px;
    padding: 12px 15px;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    outline: none;
    position: relative;
    z-index: 1;
}

.otp:hover {
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.05);
}

.placeholder {
    color: white;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
}

.otp:focus + .placeholder,
.otp:not(:placeholder-shown) + .placeholder {
    top: -20px;
    left: 10px;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.5); /* Optional background for visibility */
    padding: 0 5px;
}

button {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    outline: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.05);
}
